
<div class="row">
	<div class="col-md-3">
		<div class="district" ng-repeat="district in leftDistricts">
			<div class="zip">{{district.zip}}</div>
			<div class="restaurant" ng-repeat="restaurant in district.restaurants"
				ng-mouseenter="onMouseOver()" ng-mouseleave="onMouseOut()">
			  <div class="restaurant-heading">
			    <h4 class="restaurant-title">{{restaurant.name}}</h4>
			    <div class="address">
			    	{{restaurant.address}} 
			    	<a href="{{restaurant.url}}" target="{{restaurant.name}}"><span class="glyphicon glyphicon-cutlery"></span></a>
			    </div>
			  </div>
			  <div class="restaurant-body" ng-bind-html="restaurant.lunch">
			  </div>
			  <div class="restaurant-nolunch" ng-if="restaurant.notfound">(no lunch found)</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 hidden-xs">
		<div ui-map="restaurantMap" ui-options="mapOptions" class="map-canvas"></div>
	</div>
	<div class="col-md-3" >
		<div class="district" ng-repeat="district in rightDistricts">
			<div class="zip">{{district.zip}}</div>
			<div class="restaurant" ng-repeat="restaurant in district.restaurants"
				ng-mouseenter="onMouseOver()" ng-mouseleave="onMouseOut()">
			  <div class="restaurant-heading">
			    <h4 class="restaurant-title">{{restaurant.name}}</h4>
			    <div class="address">
			    	{{restaurant.address}} 
			    	<a href="{{restaurant.url}}" target="{{restaurant.name}}"><span class="glyphicon glyphicon-cutlery"></span></a>
			    </div>
			  </div>
			  <div class="restaurant-body" ng-bind-html="restaurant.lunch">
			  </div>
			  <div class="restaurant-nolunch" ng-if="restaurant.notfound">(no lunch found)</div>
			</div>
		</div>
	</div>
</div>
